*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: #333333;
    color: white;
    margin: 0;
}

.contact{
    text-align: left;
}

.child{
    /*border: 1px solid red;*/
    width: 50%;
    color: white;
}

.parent{
    display: flex;
    background-color: tomato;
    
}

.child img{
    width: 50%;
    border: 1px solid tomato;
}